.link {
  color: var(--text-color-tittle);
  text-decoration: none;

&:hover{
    color: var(--accent-color);
    fill: currentColor;
}
&:focus{
    color: var(--accent-color);
    fill: currentColor;
}
&:active {
    color: var(--accent-color);
    fill: currentColor;
   }
}